<ng-container *ngIf="challenge; else loading">

    <mat-card class="challenge-details-card">

        <mat-card-title>
            {{ challenge.title }}
        </mat-card-title>

        <div class="admin-actions" *ngIf="isAdmin">
            <button mat-stroked-button color="primary" (click)="edit()">
                <mat-icon>edit</mat-icon>
                Edit
            </button>

            <button mat-stroked-button color="warn" (click)="confirmDelete()">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </div>

        <button mat-icon-button mat-dialog-close class="close-btn" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>


        <mat-card-subtitle>
            <mat-chip-set>
                <mat-chip highlighted color="primary">
                    {{ categoryLabel(challenge.category) }}
                </mat-chip>

                <mat-chip highlighted color="accent">
                    {{ difficultyLabel(challenge.difficulty) }}
                </mat-chip>

                <mat-chip>
                    {{ challenge.points }} pts
                </mat-chip>
            </mat-chip-set>
        </mat-card-subtitle>

        <mat-divider></mat-divider>

        <mat-card-content>
            <p class="description">
                {{ challenge.description }}
            </p>

            <div *ngIf="challenge.files?.length">
                <h4>Files</h4>

                <mat-list>
                    <mat-list-item *ngFor="let file of challenge.files">
                        <span matListItemTitle>{{ file.fileName }}</span>
                        <button mat-icon-button color="primary" (click)="download(file.fileName!)">
                            <mat-icon>download</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </div>

            <div *ngIf="challenge.hints?.length">
                <h4>Hints</h4>

                <div class="hint-buttons">
                    <button mat-stroked-button *ngFor="let hint of challenge.hints; let i = index"
                        (click)="selectHint(i)" [color]="selectedHintIndex === i ? 'primary' : undefined">
                        {{ i + 1 }}
                    </button>
                </div>

                <mat-card *ngIf="selectedHintIndex !== null">
                    <p>
                        {{ challenge.hints?.[selectedHintIndex!] }}
                    </p>
                </mat-card>
            </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
            <form (ngSubmit)="submitFlag()" class="flag-form">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Flag</mat-label>
                    <input matInput [(ngModel)]="flag" name="flag" required autocomplete="off"
                        placeholder="ConqCTF{...}">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">
                    Submit Flag
                </button>
            </form>

            <mat-hint class="success" *ngIf="success">
                {{ success }}
            </mat-hint>

            <mat-hint class="error" *ngIf="error">
                {{ error }}
            </mat-hint>

        </mat-card-actions>

    </mat-card>
</ng-container>

<ng-template #loading>
    <app-loading-challenge></app-loading-challenge>
</ng-template>