.container {
  height: calc(100vh - 64px);
}

.sidenav {
  width: 260px;
  padding: 16px;
}

.challenge-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
}

.challenge-card {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.challenge-card:hover {
  transform: translateY(-4px);
}


mat-card-title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

mat-chip-set {
    gap: 6;
}